
<div class="barra">
    <div class="logo">
        <img src="images/sweeney.png" alt="" width="50%">
        <h4>Sweeney</h4>
    </div>
    <button class="botones poppins-semibold" (click)="goToMenu()">Resumen</button>
    <button class="botones poppins-semibold" (click)="goToMovimientos()">Mis Movimientos</button>
    <button class="botones poppins-semibold" (click)="goToGrupos()">Mis Grupos</button>
    <button class="botones poppins-semibold" (click)="goToCuentas()">Mis Cuentas</button>
    <button class="botones poppins-semibold" (click)="goToGastos()">Mis Gastos</button>
</div>
