@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.botones{
    background-color: #d3d1d1;
    margin-bottom: 3px;
    width: 90%;
    height: 35px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 1%;
    margin-left: 4%;
    border: none;
}
.botones:hover{
    background-color: #5D9DA8;
    border-color: #5D9DA8;
    color: white;
}
.botones :active{
    background-color: aqua;
}
.lista{
    list-style-type: none;
}

.logo{
    display: flex;
}
.barra {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Full viewport height */
    max-width: 15%;
    background-color: #e8e8e8;
    z-index: 101; /* Higher than header's z-index */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    color: #5D9DA8;
  }
.logout{
    margin-top: 100%;
}