<div class="movimientosContainer">
    <h4 class="poppins-bold">Mis Movimientos</h4>
<div class="custom-scroll relative overflow-y-auto shadow-md sm:rounded-lg sm:w-[150%] sm:max-h-[350px]">
    <table class="w-full text-sm text-left rtl:text-right text-[#5D9DA8] dark:text-[#000000]">
        <thead class="sticky top-0 text-xs text-[#00AD13] uppercase bg-[#a8685d] dark:bg-[#ebf3f4] dark:text-[#5D9DA8]">
            <tr>
                <th scope="col" class="px-6 py-3 poppins-bold">No. de Cuenta</th>
                <th scope="col" class="px-6 py-3">Transacción</th>
                <th scope="col" class="px-6 py-3">Tipo de Transacción</th>
                <th scope="col" class="px-6 py-3">Monto</th>
                <th scope="col" class="px-6 py-3">Fecha</th>
            </tr>
        </thead>
        <tbody>
            @if(movimientos && movimientos.length>0){
                @for(movimiento of movimientos; track $index){
                   
                    @defer () {
                        <tr class="bg-white border-b dark:bg-[#ffffff] dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-[#aeced3]">
                            <td class="px-6 py-4 poppins-light">{{movimiento.no_cuenta}}</td>
                            <td class="px-6 py-4">{{movimiento.descripcion}}</td>
                            <td class="px-6 py-4">{{movimiento.movimientoDetail.tipo_movimiento}}</td>
                            <td class="px-6 py-4">{{movimiento.monto | currency}}</td>
                            <td class="px-6 py-4">{{movimiento.fecha}}</td>
                        </tr>
                    }
                    @placeholder {
                        <td class="poppins-thin" colspan="5" style="text-align: center;">Cargando movimientos</td>
                    }
                    
                }
            }
            @else {
                <TR>
                    <TD class="poppins-thin" colspan="5" style="text-align: center;">Este usuario aun no tiene movimientos registrados</TD>
                </TR>
            }            
        </tbody>
    </table>
</div>
  