<app-header></app-header>
<div class="container">
    <div class="sideBar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="movimientos">
        <div class="buttons">
            
        </div>
        <button class="round-button" (click)="goToAdd()">+</button>
        <p class="po">Da clic para añadir un movimiento</p>
        <div class="botones">
            <button (click)="navigateToMovimientos()" class="poppins-bold">Ver Mis Movimientos</button>
            <button  (click)="navigateToPagos()" class="poppins-bold">Ver Mis Pagos</button>
            <button (click)="navigateToPagosProgramados()" class="poppins-bold">Ver Mis Pagos Programados</button>
        </div>
        
        <router-outlet></router-outlet>
    </div>
    
</div>
