<div class="blue">
    <img  class="logo" src="/images/sweeney2.PNG" alt="Sweeney">
</div>
<h2 class="poppins-thin frase">Pequeños Ahorros, grandes metas</h2>

<div class="recuadro">
    <h5 class="poppins-thin">Bienvenido a Sweeney</h5>
    <h1 class="poppins-thin">Inicia Sesión</h1>
    
    <form class="login-form">
        <a href="registro">¿Aun no tienes una cuenta?</a>
        <label for="email">Ingresa tu Correo electrónico:</label>
        <input type="email" id="email" name="email" placeholder="Correo electrónico" [(ngModel)]="email" value="gaby@gmail.com"/>
        <label for="password">Ingresa tu Contraseña:</label>
        <input type="password" id="password"  name="password" placeholder="Contraseña" [(ngModel)]="password" value="12345"/>
        
        <button type="submit" (click)="login()">Inicia Sesión</button>
        <a (click)="navigateToRecuperar()">¿Olvidaste tu contraseña?</a>
      </form>
</div>
