<div class="blue">
    <img  class="logo" src="/images/sweeney2.PNG" alt="Sweeney">
</div>
<P class="poppins-thin frase">Pequeños Ahorros, grandes metas</P>

<div class="recuadro">
    <p class="poppins-thin">Bienvenido a Sweeney</p>
    <h3 class="poppins-thin">Inicia Sesión</h3>
    
    <form class="login-form">
        <a href="">¿Aun no tienes una cuenta?</a>
        <label for="email">Ingresa tu Correo electrónico:</label>
        <input type="email" id="email" name="email" placeholder="Correo electrónico" [(ngModel)]="email" value="gaby@gmail.com"/>
        <label for="password">Ingresa tu Contraseña:</label>
        <input type="password" id="password"  name="password" placeholder="Contraseña" [(ngModel)]="password" value="12345"/>
        
        <button type="submit" (click)="login()">Inicia Sesión</button>
        <a href="#">¿Olvidaste tu contraseña?</a>
      </form>
</div>
