.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 15%;
    z-index: 100;
    padding-top: 0;
    /*background-color: #075271;*/
    background-color: #5D9DA8;
    color: white;
    position: fixed;
    left: 15%
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 5%;
  }
  
  .nav-links a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info span {
    margin-right: 10px;
  }