<app-header></app-header>
<div class="container">
    <div class="sideBar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="grupos">
        <button class="round-button">+</button>
        <p>Da clic para crear un grupo nuevo</p>
        <div class="join">
            <p>O únete a uno</p>
            <form [formGroup]="joinGpoForm" (ngSubmit)="joinGrupo()">
                <input type="text" id="gpoToken" formControlName="tokenGpo">
                <button type="submit" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-100 focus:outline-none bg-gray-800 rounded-full border border-gray-500 hover:bg-gray-700 hover:text-white focus:z-10 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-100 dark:bg-[#065170] dark:text-white dark:border-gray-600 dark:hover:text-white dark:hover:bg-[#5D9DA8]">Unirse</button>
    
            </form>
        </div>
        

        <div class="account-carousel">
            @if(grupos && grupos.length>0){
                <p-carousel [value]="grupos" [numVisible]="3" [numScroll]="1" class="px-4 py-2 mx-2 bg-gray-300 rounded">
                    <ng-template pTemplate="item" let-grupo>
                        <div class="cuenta-card">
                            <div class="max-w-sm p-6 bg-[#ffffff] rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">       
                                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-black-900 dark:text-['000000']">{{grupo.grupoDetail.nombre}}</h5>
                                <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">{{grupo.grupoDetail.descripcion}}</p>
                                <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">{{grupo.tipo_usuario}}</p>
                                <div class="opc">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                                    <mat-menu #menu="matMenu">
                                        @if(grupo.tipo_usuario==='CREADOR'){
                                            <button mat-menu-item>Editar Grupo</button>
                                        }
                                        @else if(grupo.tipo_usuario!="CREADOR") {
                                            <button mat-menu-item>Darse de Baja de Grupo</button>
                                        }
                                    </mat-menu>
                                </div>
                        </div>
                    </div>
                </ng-template>
              </p-carousel>
        }
        @else {
            <p class="poppins-thin">No hay cuentas agregadas</p>
        }
        
    </div>
    </div>
</div>