.container{
    display:flex;
}
.cuenta-card{
  padding: 20px;
}
.grupos{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-top: 3%;
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.round-button {
    width: 35px;           /* Set the width */
    height: 35px;          /* Set the height (same as width for a perfect circle) */
    border-radius: 50%;    /* Rounds the button fully */
    border: none;          /* Optional: removes the border */
    background-color: #ffaa64; /* Button color */
    color: white;          /* Text color */
    font-size: 24px;       /* Adjust font size */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .round-button:hover {
    background-color: #ff8a3d; /* Darken color on hover */
  }
  .account-carousel{
    max-width: 1000PX;
    justify-content: center;
  }

.join{
  width: 25%;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }