<app-header></app-header>
<div class="container">
    <div class="sideBar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="categoriaForm">
        <form [formGroup]="gastosForm">
            <p>Asigna un nombre a esta categoría:</p>
            <label for="nombre">Nombre: </label>
            <input type="text" placeholder="Ingrese un nombre para la categoria">
        
            <label for="presupuesto"> Presupuesto: </label>
            <input type="number" placeholder="10%">

            <p>Puedes asignar subcategorias a este gasto</p>
            <label for="tipo_megocio">Tipo de Negocio:</label>
            <select name="tipo_megocio" id="tipo_megocio" formControlName="tipo_megocio" (change)="loadNegocios($event)">
                @for(rubro of negociosRubros; track $index){
                    <option value={{rubro.id_tiponegocio}}>{{ rubro.tipo_negocio}}</option>
                }
            </select>
            <label for="negocio">Negocio</label>
            <select name="negocios" idnegocios>
                @if(negocios&&negocios.length>0){
                    @for(negocio of negocios; track $index){
                        <option value={{negocio.id_negocio}}>{{ negocio.nombre}}</option>
                    }
                }
                @else {
                    <option value="">No hay negocios asignados</option>
                }
            </select>
        </form>
    </div>
</div>

