@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  .table-container {
    width: 90%;  /* Fixed width for the container */
    max-height: 300px; /* Fixed height for the container to create a square */
    overflow: auto; /* Add scrollbar if content overflows */
    border: 1px solid #ccc; /* Optional: Add a border to the box */
    padding: 10px; /* Optional: Add padding for inner spacing */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for style */
    z-index: 1;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    max-height: 300px;
    overflow: auto;
  }
  
  th, td {
    padding: 3px;
    border: 1px solid #ddd; /* Optional: Border for table cells */
    text-align: left; /* Align text in cells */
  }
  th{
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #f5f5f5;
  }