.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}
.round-button {
    width: 35px;           /* Set the width */
    height: 35px;          /* Set the height (same as width for a perfect circle) */
    border-radius: 50%;    /* Rounds the button fully */
    border: none;          /* Optional: removes the border */
    background-color: #ffaa64; /* Button color */
    color: white;          /* Text color */
    font-size: 24px;       /* Adjust font size */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .round-button:hover {
    background-color: #ff8a3d; /* Darken color on hover */
  }
  .container{
    display: flex;
    width: 100vw;
}
.sideBar{
    position: fixed;
    height: 100%;
}
.cuenta-card{
  padding: 20px;
}
.gastosContainer{
  max-width: 1000px;
  justify-content: center;
}
.round-button {
    width: 35px;           /* Set the width */
    height: 35px;          /* Set the height (same as width for a perfect circle) */
    border-radius: 50%;    /* Rounds the button fully */
    border: none;          /* Optional: removes the border */
    background-color: #5D9DA8; /* Button color */
    color: white;          /* Text color */
    font-size: 24px;       /* Adjust font size */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .round-button:hover {
    background-color: #66adb9; /* Darken color on hover */
  }
  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
.category-square{
    width: 50%;
    height: 150px;
    padding-right: 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    box-shadow: inset;
    cursor: pointer;
    -webkit-box-shadow: 14px 9px 25px -3px rgba(0,0,0,0.42);
    -moz-box-shadow: 14px 9px 25px -3px rgba(0,0,0,0.42);
    box-shadow: 14px 9px 25px -3px rgba(0,0,0,0.42);
}
.category-square:hover{
    /*background-color: #075271;*/
    background-color: #5D9DA8;
    color: white;
  }
.gastos{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 3%;
    display: flex;
    gap: 10px;
    width: 80%;
    margin-bottom: 20px;
}
.opc{
    margin-left: 70%;
    display: flex;
}