<div class="container">
    <div class="sideBar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="menuPrincipal">
        <div class="infoContainer">
            <div class="info">Balance general</div>
            <div class="info">Gastos del mes</div>
        </div>
        <div class="account-carousel">
            <p-carousel [value]="cuentas" [numVisible]="1" [numScroll]="1">
                <ng-template pTemplate="item" let-cuenta>
                    <div class="account-square">
                        <p>{{ cuenta.nombre }}</p>
                        <p>{{ cuenta.saldo | currency }}</p>
                    </div>
                </ng-template>
              </p-carousel>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>No. de Cuenta</th>
                        <th>Transacción</th>
                        <th>Tipo de Transacción</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    @if(movimientos && movimientos.length >0){
                        @for (movimiento of movimientos; track $index) {
                            <tr>
                                <td>{{movimiento.no_cuenta}}</td>
                                <td>{{movimiento.descripcion}}</td>
                                <td>{{movimiento.movimientoDetail.tipo_movimiento}}</td>
                                <td>{{movimiento.monto | currency}}</td>
                                <td>{{movimiento.fecha}}</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
