<app-sidebar><p>Aios</p></app-sidebar>
<p>Hola</p>

<h1>Cuentas</h1>
@if (cuentas && cuentas.length > 0) {
    <h4>Cuentas del Usuario</h4>
    <ul>
        @for (cuenta of cuentas; track $index) {
            <li>No ID {{ cuenta.ID }}</li>
            <li>No Cuenta {{cuenta.no_cuenta}}</li>
            <li> Saldo {{cuenta.saldo}}</li>
            <li>Fecha de Vencimiento {{cuenta.fecha_vencimiento}}</li>
            <li>Nombre {{cuenta.nombre}}</li>
            <li>Estatus {{cuenta.estatusDetail.estatus}}</li>
        }
    </ul>
}
@else {
    <p>Este user no tiene cuentas</p>
}

<h1>Movimientos</h1>
@if (movimientos && movimientos.length > 0) {
    <h4>Movimientos del Usuario</h4>
    <ul>
        @for (movimiento of movimientos; track $index) {
            <li>ID Mov {{movimiento.id_movimiento}}</li>
            <li>ID User {{movimiento.id_usuario}}</li>
            <li>No Cuenta {{movimiento.no_cuenta}}</li>
            <li>Descripcion {{movimiento.descripcion}}</li>
            <li>monto {{movimiento.monto}}</li>
            <li>fecha {{movimiento.fecha}}</li>
            <li>tipoMov {{movimiento.movimientoDetail.tipo_movimiento}}</li>
        }
    </ul>
}
@else {
    <p>Este user no tiene movimientos</p>
}
