<app-header></app-header>
<hr class="division">
<div class="container">
    <div class="sideBar">
        <app-sidebar></app-sidebar>
    </div>
    <svg></svg>
    <div class="menuPrincipal">
        <div class="infoContainer">
            <div class="info">Balance general
                <p>{{usuario.ingresos_mensules}}</p>
            </div>
            <div class="info">Gastos del mes</div>
        </div>
        <div class="account-carousel">
            <p-carousel [value]="cuentas" [numVisible]="2" [numScroll]="1">
                <ng-template pTemplate="item" let-cuenta>
                    <div class="account-square" (click)="selectCuenta(cuenta.no_cuenta)">
                        <p class="poppins-thin">{{ cuenta.nombre }}</p>
                        <p class="poppins-thin">{{ cuenta.saldo | currency }}</p>
                    </div>
                </ng-template>
              </p-carousel>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>No. de Cuenta</th>
                        <th>Transacción</th>
                        <th>Tipo de Transacción</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    @if(movimientos && movimientos.length >0){
                        @for (movimiento of movimientos; track $index) {
                            <tr>
                                <td class="poppins-thin">{{movimiento.no_cuenta}}</td>
                                <td class="poppins-thin">{{movimiento.descripcion}}</td>
                                <td class="poppins-thin">{{movimiento.movimientoDetail.tipo_movimiento}}</td>
                                <td class="poppins-thin">{{movimiento.monto | currency}}</td>
                                <td class="poppins-thin">{{movimiento.fecha}}</td>
                            </tr>
                        }
                    }@else {
                        <TR>
                            <TD class="poppins-thin" colspan="5" style="text-align: center;">Este usuario aun no tiene movimientos registrados</TD>
                        </TR>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
